<%= tag.tr do %>
  <td class="<%= class_names({subunit: unit.base,
                              grayed: unit.default? && !unit.portable.nil? }) %>">
    <%= unit %>
  </td>

  <td class="actions">
    <% unless unit.portable.nil? %>
      <% if current_user.at_least(:active) && unit.default? %>
        <%= image_button_to t('.import'), 'download-outline', import_default_unit_path(unit),
          disabled_attributes(!unit.portable?) %>
      <% end %>
      <% if current_user.at_least(:admin) %>
        <% if unit.default? %>
          <%= image_button_to t('.delete'), 'delete-outline', unit_path(unit), method: :delete %>
        <% else %>
          <%= image_button_to t('.export'), 'upload-outline', export_default_unit_path(unit),
            disabled_attributes(!unit.portable?) %>
        <% end %>
      <% end %>
    <% end %>
  </td>
<% end %>
