<%= tabular_form_with model: Measurement.new, id: :measurement_form,
  class: 'topside-area vflex', html: {onkeydown: 'formProcessKey(event)'} do |form| %>
  <table class="items centered">
    <tbody id="readouts"></tbody>
  </table>

  <div class="hflex">
    <%# TODO: right-click selection %>
    <details id="quantity_select" class="hexpand" open
             onkeydown="detailsProcessKey(event)">
      <summary autofocus>
        <!-- TODO: Set content with CSS when span empty to avoid duplication -->
        <span data-prompt="<%= t('.select_quantity') %>">
          <%= t('.select_quantity') %>
        </span>
        <%= image_button_tag t(:apply), "update", name: nil, disabled: true,
          formaction: new_readout_path, formmethod: :get, formnovalidate: true,
          data: {turbo_stream: true} %>
      </summary>
      <ul><%= quantities_check_boxes %></ul>
    </details>
    <%= form.button id: :create_measurement_button, disabled: true -%>
  </div>

  <div class="hflex reverse">
    <%= image_link_to t(:cancel), "close-outline", measurements_path, name: :cancel,
      class: 'dangerous', onclick: render_turbo_stream('form_close') %>
  </div>
<% end %>

<script>
  quantity_select.addEventListener('focusout', detailsClose)
  quantity_select.addEventListener('change', detailsChange)
  detailsObserver.observe(quantity_select.querySelector('ul'),
    {subtree: true, attributeFilter: ['disabled']})
</script>
