<%= tabular_fields_for @unit do |form| %>
  <%= tag.tr id: dom_id(@unit), class: "form", onkeydown: "processKey(event)",
    data: {link_id: link_id} do %>

    <td class="<%= class_names({subunit: @unit.base}) %>">
      <%= form.text_field :symbol, form: :unit_form, required: true, autofocus: true, size: 12,
        maxlength: @unit.class.type_for_attribute(:symbol).limit, autocomplete: "off" %>
    </td>
    <td>
      <%= form.text_area :description, form: :unit_form, cols: 30, rows: 1, escape: false,
        maxlength: @unit.class.type_for_attribute(:description).limit, autocomplete: "off" %>
    </td>
    <td>
      <% unless @unit.base.nil? %>
        <%= form.hidden_field :base_id, form: :unit_form %>
        <%= form.number_field :multiplier, form: :unit_form, required: true,
          size: 10, autocomplete: "off",
          **number_attributes(@unit.class.type_for_attribute(:multiplier)) %>
      <% end %>
    </td>

    <td class="actions">
      <%= form.submit form: :unit_form %>
      <%= image_link_to t(:cancel), "close-outline", units_path, class: 'dangerous',
        name: :cancel, onclick: render_turbo_stream('form_close') %>
    </td>
    <td></td>
  <% end %>
<% end %>
