<%= tabular_fields_for @unit, form: form_tag do |form| %>
  <%- tag.tr id: row, class: "form", onkeydown: "formProcessKey(event)",
    data: {link: link, form: form_tag, hidden_row: hidden_row} do %>

    <td style="--depth:<%= @unit.base_id? ? 1 : 0 %>">
      <%= form.text_field :symbol, required: true, autofocus: true, size: 12 %>
    </td>
    <td>
      <%= form.text_area :description, cols: 30, rows: 1, escape: false %>
    </td>
    <td class="number">
      <%= form.number_field :multiplier, required: true, size: 10, min: :step if @unit.base_id? %>
    </td>

    <td class="actions">
      <%= form.button %>
      <%= image_link_to t(:cancel), "close-outline", units_path, class: 'dangerous',
        name: :cancel, onclick: render_turbo_stream('form_close', {row: row}) %>
    </td>
    <td></td>
  <% end %>
<% end %>
