<%= tag.tr id: dom_id(unit),
           ondragstart: 'dragStart(event)', ondragend: 'dragEnd(event)',
           ondragover: 'dragOver(event)', ondrop: 'drop(event)',
           ondragenter: 'dragEnter(event)', ondragleave: 'dragLeave(event)',
           data: {drag_path: rebase_unit_path(unit), drop_id: dom_id(unit.base || unit)} do %>

  <td class="<%= class_names('link', {subunit: unit.base}) %>">
    <%= link_to unit, edit_unit_path(unit), onclick: 'this.blur();', data: {turbo_stream: true} %>
  </td>
  <td><%= unit.description %></td>
  <td class="number"><%= unit.multiplier.to_html %></td>

  <% if current_user.at_least(:active) %>
    <td class="actions">
      <% if unit.base.nil? %>
        <%= image_link_to t('.new_subunit'), 'plus-outline', new_unit_path(unit),
          id: dom_id(unit, :new, :link), onclick: 'this.blur();', data: {turbo_stream: true} %>
      <% end %>

      <%= image_button_to t('.delete_unit'), 'delete-outline', unit_path(unit),
        method: :delete %>
    </td>
    <% if unit.movable? %>
      <td class="handle" draggable="true">&#x283F</td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
<% end %>
