<div class="rightside buttongrid">
  <% if current_user.at_least(:active) %>
    <%= image_link_to t('.new_unit'), 'plus-outline', new_unit_path,
      id: dom_id(Unit, :new, :link), onclick: 'this.blur();', data: {turbo_stream: true} %>
  <% end %>
  <%= image_link_to t('.import_units'), 'download-outline', default_units_path, class: 'tools' %>
</div>

<%= tag.div id: :unit_form %>

<table class="main items">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:symbol).capitalize %></th>
      <th><%= User.human_attribute_name(:description).capitalize %></th>
      <th><%= User.human_attribute_name(:multiplier).capitalize %></th>
      <% if current_user.at_least(:active) %>
        <th><%= t :actions %></th>
        <th></th>
      <% end %>
    </tr>
    <%= tag.tr id: "unit_", hidden: true,
               ondragover: "dragOver(event)", ondrop: "drop(event)",
               ondragenter: "dragEnter(event)", ondragleave: "dragLeave(event)",
               data: {drop_id: "unit_", drop_id_param: "unit[base_id]"} do %>
      <th colspan="5"><%= t '.top_level_drop' %></th>
    <% end %>
  </thead>
  <tbody id="units">
    <%= render(@units) || render_no_items %>
  </tbody>
</table>
