<!DOCTYPE html>
<html>
  <head>
    <title>fixin.me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="application-menu">
      <%= link_to_if user_signed_in?, t(:sign_out), destroy_user_session_path,
                       data: { turbo_method: :delete } do %>
        <%= link_to svg_tag('pictograms/login.svg#icon')+t(:sign_in), new_user_session_path,
                     class: class_names(active: current_page?(new_user_session_path))%>
      <% end %>

      <%= link_to_unless(user_signed_in?, t(:register), new_user_registration_path) { } %>
    </div>

    <div class="flashes">
      <% flash.each do |entry, message| %>
        <div class="flash <%= entry %>">
          <div><%= sanitize message %></div>
          <button onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
