<% content_for :navigation, flush: true do %>
  <div class="left">
    <%= image_link_to t(:back), "arrow-left-bold-outline",
      request.referer.present? ? :back : root_url %>
  </div>
  <div class="right">
    <%= image_button_to t(".delete"), "account-remove-outline", user_registration_path,
      class: "dangerous", method: :delete, onclick: {confirm: t(".confirm_delete")} %>
  </div>
<% end %>

<%= tabular_form_for resource, url: registration_path(resource), html: {method: :patch} do |f| %>
  <%= f.email_field :email, size: 30, autofocus: true, autocomplete: "off" %>
  <% if f.object.pending_reconfirmation? %>
    <%= f.text_field :unconfirmed_email, readonly: true, tabindex: -1,
      hint: t(".unconfirmed_email_hint",
              timestamp: f.object.confirmation_sent_at.to_fs(:db_without_sec)) %>
  <% end %>

  <%= f.select :status, User.statuses, readonly: true %>

  <%= f.password_field :password, size: 30, autocomplete: "off",
    hint: t(".blank_password_hint_html",
            subhint: t(".minimum_length_hint_html", count: @minimum_password_length)) %>
  <%= f.password_field :password_confirmation, size: 30, autocomplete: "off" %>

  <%= f.submit t(".update") %>
<% end %>
